services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27007:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - multimodal_mongodata:/data/db
    networks:
      - backend

networks:
  backend:

volumes:
  multimodal_mongodata:
